<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">{{ animal }}</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-th fa-fw"></i> All {{ animal }}s
			</div>
			<!-- /.panel-heading -->
			<div class="list-group">
				<a href="#" class="list-group-item" ng-repeat="client in clients">
					<i class="fa"></i> {{client.identifier}}
				</a>
			</div>
			<!-- /.list-group -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->